<h1>Mental Health Resources</h1>

<a href="/">Home</a>
<a href="/resources/add">Add Resource</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Type</th>
        <th>Description</th>
        <th>Category</th>
    </tr>

    {{#resources}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{type}}</td>
            <td>{{shortDescription}}</td>
            <td>{{category.name}}</td>
        </tr>
    {{/resources}}

</table>